<!DOCTYPE html>
<html>
<head>
  <title>Contact</title>
  <!-- <h1 id="contact">Contact</h1> -->
  <link rel="stylesheet" type="text/css" href="../public/css/contact.css">
  <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
  <meta name=viewport content="width=330">
  <script src="/javascripts/jquery-2.2.2.min.js"></script>
</head>
<body>
  <div id="contact_info">
    <h3 id="contact_text">
      If you think you have what it takes and want to get away from the mundane "going to the gym" or "dance class", then give us a call or stop in at the school and challenge both your body and your mind. 
      <br/><br/>509 Pittston Ave., 3rd floor<br/>Scranton, PA 18505<br/><br/>
      Contact The School<br/><a id="school_phone" href="tel:570-341-8089">570-341-8089</a><br/><br/>Contact The Sifu<br/>
      <a id="sifu_cell" href="tel:570-479-4089">570-479-4089</a>      
    </h3>
  </div>
</body>
  <footer>
    <div id="links_to_pages">
      <ul>
        <a id="home" href="welcome.html">Homepage</a>
        <a id="about" href="about.html">Find Out More</a>
        <a id="schedule" href="schedule.html">Class Schedule</a>
        <a id="videos" href="videos.html">Our Forms</a>
      </ul>
    </div>
  </footer>
</html>
