<!DOCTYPE html>
<html>
<head>
  <title>Schedule</title>
  <center><h1>Schedule</h1></center>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/javascripts/jquery-2.2.2.min.js"></script>
</head>
<body>

  <center>
    <div id="class_schedule">
      <h3 id="classes">

        Class Schedule: <br/>
        <div id="monday">
          Monday: Private Classes
        </div>
        
        <div id="tuesday">
          Tuesday: Hung-Gar Kung-Fu
          6:00pm-7:30pm
        </div>

        <div id+"wednesday">
          Wednesday: Yang Style Tai-Chi
          6:00pm-7:30pm
        </div>

        <div id="thursday">
          Thursday: Hung-Gar Kung-Fu
          6:00pm-7:30pm
        </div>

        <div id="friday">
          Friday: Private Classes
        </div>

        <div id="saturday">
          Saturday: Yang Style Tai-Chi
          10:00am-11:00am
        </div>

        <div id="sunday">
          Sunday: Hung-Gar Kung-Fu
          10:00am-11:00am        
          Yang Style Tai-Chi
          11:00am-12:00pm  
        </div>
      </h3> 
    </div>
  </center>


</body>

  <footer>
    <center>
      <div id="links_to_pages">
        <ul>
          <a id="homepage" href="/home">Homepage</a>
          <a id="about" href="/about">Find Out More</a>
          <a id="contact" href="/contact">Contact Us</a>
          <a id="videos" href="/videos">Forms You Can Learn</a>
        </ul>
      </div>
    </center>
  </footer>
</html>

    