<!DOCTYPE html>
<html>
<head>
  <title>Videos</title>
  <center><h1>Our Forms</h1></center>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/javascripts/jquery-2.2.2.min.js"></script>
</head>
<body>

  <div id="vid_container">
    <div id="lien_bu_chuan">
      <h2>Lien Bu Chuan</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/546hIRgslLM" frameborder="0" allowfullscreen></iframe>
    </div>

    <div id="qi_mei_gun">
      <h2>Qi Mei Gun</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ozaN3xL3ExU" frameborder="0" allowfullscreen></iframe>
    </div>

    <div id="yang_style_tai_chi">
      <h2>Yang Style Tai Chi</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/lhnlUFsCWew" frameborder="0" allowfullscreen></iframe>
    </div>

    <div id="ten_pattern_fist">
      <h2>Ten Pattern Fist</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/kDdjOebHC7k" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>


</body>

  <footer>
    <center>
      <div id="links_to_pages">
        <ul>
          <a id="home" href="/home">Homepage</a>
          <a id="about" href="/about">Find Out More</a>
          <a id="schedule" href="/schedule">Class Schedule</a>
          <a id="contact" href="/contact">Contact Us</a>
        </ul>
      </div>
    </center>
  </footer>
</html>