body {
  background-color: #222;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1), 
      rgba(255, 255, 255, 0.1)
    ), url(../img/1_14.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 3.3%;
  /*position: fixed;*/
}

div, #contact, a {
    animation: fadein 3s;
}

h1, h2, h3, a {
  font-family: 'PT Sans', sans-serif;
  font-weight: 100;
}

#contact {
  margin-top: 5%;
  margin-left: 67.5%;
  background: rgba(0, 0, 0, 0.7);
  display: inline-block;
  color: #E32924;
  padding: .5%;
}

#contact_info {
  margin-top: 5%;
  margin-left: 50%;
  margin-right: 5%;  
  background: rgba(0, 0, 0, 0.7);
  display: inline-block;
  color: #E32924;
  padding-right: 2%;
  padding-left: 2%;
  text-align: center;
}

a {
  text-decoration: none;
  padding: 14px;
  color: #E32924;
  -webkit-transition: all 1s;
  font-family: 'PT Sans', sans-serif;
}

a:hover {
  color: #FFFF66;
  -webkit-transition: all 1s;
}

div#links_to_pages {
  margin-top: 12.8%;
  margin-left: 30%;
  background: rgba(0, 0, 0, 0.7);
  display: inline-block;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1;  }
}


/*///////////////////////////*/
/*      Media Queries        */
/*///////////////////////////*/
/*iPhone 5*/
@media screen and (max-width: 330px) {
  
  div#links_to_pages {
    text-align: center;
    margin-bottom: 25px;
  }

  #contact_info {
    margin-left: 5%;
  }

  ul {
    padding: 0;
  }

  a {
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
  }
}

/*iPhone 6*/
@media screen and (max-width: 375px) {

  div#links_to_pages {
    text-align: center;
    margin-bottom: 25px;
  }

  #contact_info {
    margin-left: 5%;
  }

  ul {
    padding: 0;
  }

  a {
    padding: 5px;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
  }


}




