body {
  background-color: #222;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1), 
      rgba(255, 255, 255, 0.1)
    ), url(/img/staff.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 7.3%;
  /*position: fixed;*/
}

div, h1 {
  animation: fadein 3s;
}

ul {
  padding: 0px;
}

a {
  text-decoration: none;
  padding: 14px;
  color: #E32924;
  -webkit-transition: all 1s;
  font-family: 'PT Sans', sans-serif;
}

a:hover {
  color: #FFFF66;
  -webkit-transition: all 1s;
}

div#links_to_pages {
  margin-top: 24%;
  margin-left: 30%;
  background: rgba(0, 0, 0, 0.7);
  display: inline-block;
  animation: fadein 3s;
}

h1, h2, h3 {
  color: rgb(227, 41, 36);
  font-weight: 100;
  padding-left: 2%;
  padding-right: 3%;
  font-style: sans-serif, Helvetica;
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
}

h3#intro_info {
  padding-left: 3%;
  text-align: center;
}

/*Not sure if I need this or not. Commented out the Welcome Sign.*/
/*h1#welcome_sign {
  margin-top: 5%;
  margin-left: 50%;
  padding: 0.5%;
  background: rgba(0, 0, 0, 0.7);
  display: inline-block;
  text-align: center;
}*/

#welcome_page {
  margin-top: 7%;
  margin-left: 50%;
  background: rgba(0, 0, 0, 0.7);
  display: inline-block;
  margin-right: 8%;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1;  }
}




/*///////////////////////////*/
/*      Media Queries        */
/*///////////////////////////*/
/*iPhone 5*/
@media screen and (max-width: 330px) {
  #welcome_page {
    margin-top: 15%;
    margin-left: 2%;
    background: rgba(0, 0, 0, 0.7);
    display: inline-block;
    margin-right: 2%;
  }

  h3#intro_info {
    padding-left: 4%;
    padding-right: 4%;
  }

  body {
    background: linear-gradient(
      rgba(255, 255, 255, 0.1), 
      rgba(255, 255, 255, 0.1)
    ), url(../img/Sifu_1.jpg);
    background-repeat: repeat-y;
  }

  a {
    padding: 5px;
  }

  a#videos {
    padding-left: 30px;
    padding-right: 30px;
  }

  div#links_to_pages {
    margin-top: 55%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }

}



/*iPhone 6*/
@media screen and (max-width: 375px) {
  #welcome_page {
    margin-top: 10%;
    margin-left: 7%;
    margin-right: 7%;
    background: rgba(0, 0, 0, 0.7);
    display: inline-block;
  }

  h3#intro_info {
    padding-left: 5%;
    padding-right: 5%;
  }

  body {
    background: linear-gradient(
      rgba(255, 255, 255, 0.1), 
      rgba(255, 255, 255, 0.1)
    ), url(../img/Sifu_1.jpg);
    background-repeat: repeat-y;
  }

  a {
    padding: 5px;
    display: block;
  }

  a#videos {
    padding-left: 30px;
    padding-right: 30px;
  }


  div#links_to_pages {
    margin-top: 40%;
    margin-left: 25%;
    margin-right: 30%;
    text-align: center;
  }
}






