body {
  background-color: #222;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1), 
      rgba(255, 255, 255, 0.1)
    ), url(/img/Sifu_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 3.3%;
}

h1, h2, h3, a {
  font-weight: 100;
  font-family: 'PT Sans', sans-serif;
  color: #E32924;
}

#lien_bu_chuan, #qi_mei_gun, #yang_style_tai_chi, #ten_pattern_fist {
  float: left;
  display: block;
  margin: 1%;
  padding: 1%;
  text-align: center;
  border: 2px solid white;
  background-color: black;
}

#vid_container {
  margin-left: 1.5%;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  padding: 14px;
  color: #E32924;
  -webkit-transition: all 1s;
  font-family: 'PT Sans', sans-serif;
}

a:hover {
  color: blue;
  -webkit-transition: all 1s;
}

div#links_to_pages {
  margin-top: 5%;
  background: rgba(0, 0, 0, 0.7);
  display: inline-block;
}