body {
  background-color: #222;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1), 
      rgba(255, 255, 255, 0.1)
    ), url(/img/Sifu_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  margin-bottom: 3.3%;
}

h1, h2, h3, a {
  font-weight: 100;
  font-family: 'PT Sans', sans-serif;
  color: #E32924;
  animation: fadein 4s;
}

h1 {
  background: rgba(0, 0, 0, 0.7);
  display: inline-block;
  padding-right: 1%;
  padding-left: 1%;
}

#lien_bu_chuan, #qi_mei_gun, #yang_style_tai_chi, #ten_pattern_fist {
  float: left;
  display: block;
  margin: 1%;
  padding: 1%;
  text-align: center;
  border: 3px solid white;
  background-color: black;
}

#vid_container {
  margin-left: 1.5%;
  animation: fadein 3s;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  padding: 14px;
  color: #E32924;
  -webkit-transition: all 1s;
  font-family: 'PT Sans', sans-serif;
}

a:hover {
  color: #FFFF66;
  -webkit-transition: all 1s;
}

div#links_to_pages {
  margin-top: 5%;
  background: rgba(0, 0, 0, 0.7);
  display: inline-block;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1;  }
}

/*///////////////////////////*/
/*      Media Queries        */
/*///////////////////////////*/
/*iPhone 5*/
@media screen and (max-width: 330px) {
  
  #vid_container {
    display: inline-block;
  }

  #lien_bu_chuan, #qi_mei_gun, #yang_style_tai_chi, #ten_pattern_fist {
    height: 230px;
    width: 290px;
    display: inline-block;
    max-width: 100%;
    margin-top: 5%;
    margin-left: 2%;
  }

  body {
    padding: 0px;
  }

  a {
    display: block;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }

  iframe {
    max-width: 100%;
    width: 290px;
    height: 170px;
    position: relative;
  }

  h2 {
    font-size: 18px;
  }

  h1 {
    padding: 1%;
    margin-right: 3%;
    margin-left: 5%;
    font-size: 25px;
  }
}

/*iPhone 6 ///////// Need to fix this. Not centered on page.*/
@media screen and (max-width: 375px) {
  
  #vid_container {
    display: inline-block;
  }

  #lien_bu_chuan, #qi_mei_gun, #yang_style_tai_chi, #ten_pattern_fist {
    height: 230px;
    width: 290px;
    display: inline-block;
    max-width: 100%;
    margin-top: 5%;
    margin-left: 2%;
  }

  body {
    padding: 0px;
    margin: 0px;
  }

  a {
    display: block;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
  }

  iframe {
    max-width: 100%;
    width: 290px;
    height: 170px;
    position: relative;
  }

  h2 {
    font-size: 18px;
  }

  h1 {
    padding: 1%;
    margin-right: 3%;
    margin-left: 5%;
    font-size: 25px;
  }
}
