body {
  /*background-color: #222;*/
  background: linear-gradient(
      rgba(255, 255, 255, 0.4), 
      rgba(255, 255, 255, 0.4)
    ), url(/img/school.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 3px;
}

h1, h2, h3, a {
  font-family: 'PT Sans', sans-serif;
  font-weight: 100;
}

a {
  text-decoration: none;
  -webkit-transition: all 1s;
}

a:hover {
  color: #FFFF66;
  -webkit-transition: all 1s;
}

#welcome_sign {
  color: #E32924;
  font-weight: 200;
  cursor: pointer;
  margin-bottom: 2%;
  font-size: 27px;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
}

#sil_lum_kung_fu {
  animation: fadein 3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1;  }
}

/*///////////////////////////*/
/*      Media Queries        */
/*///////////////////////////*/
/*iPhone 5*/
@media screen and (max-width: 330px) {

  img {
    max-width: 100%;
    width: 250px;
    height: 250px;
    padding-bottom: 40%;
    margin-top: 20%;
    display: inline-block;
  }

  #container {
    padding: 3%;
    margin: 0 auto;
    padding-bottom: 5%;
    margin-top: 13%;
  }

  body {
    padding: 0px;
    background-position: center;
  }

  #welcome_sign {
    padding: 5px;
    margin: 0;
  }
}


/*iPhone 6*/
@media screen and (max-width: 375px) {
  
  img {
    max-width: 100%;
    width: 250px;
    height: 250px;
    padding-bottom: 40%;
    margin-top: 20%;
    display: inline-block;
  }

  #container {
    padding: 5%;
    margin: 0 auto;
    padding-bottom: 5%;
    margin-top: 13%;
  }

  #welcome_sign {
    padding: 15px;
    margin: 0;
  }

}


